
@{
    ViewBag.Title = "ErrorNoOrganisation";
}

<h2>ErrorNoOrganisation</h2>
<h3>Er bestaat geen organisatie met deze ID.</h3>
<a href="~/Organisatie/Index">Klik hier om terug te keren naar de organisaties</a>

