@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cashless Payment System</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Organisaties</h2>
        <p>
           Toevoegen, wijzigen en bekijken van info van organisaties en geregistreerde kassa's per organisatie.
        </p>
        <p><a class="btn btn-default" href="~/Views/Organisatie/Index.cshtml">Ga naar organisaties &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kassa's</h2>
        <p>Toevoegen, wijzigen en bekijken van info van kassa's.</p><br />
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Ga naar kassa's &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Logboek</h2>
        <p>Bekijk foutmeldingen van alle kassa's</p><br /><br />
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Ga naar logboek &raquo;</a></p>
    </div>
</div>